body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}
.question-container,
#question-container {
    text-align: center;
    margin-top: 80px;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.question{
        border: 1px solid grey;
        border-radius: 10px;
        background: rgb(226, 226, 226);
        margin: 10px;
        padding: 10px;
        width: 80%;
}

.question img{
    width: 100%;
    max-height: 500px;

}
.question input[type="radio"]{
    margin: 10px;
}


.choice-btn {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choice-btn:hover {
    background-color: #0056b3;
}

#feedback-container {
    text-align: center;
    margin-top: 20px;
}

#feedback {
    font-size: 18px;
    color: #333;
}

#timer-container {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

#progress-container {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
#reset-btn,
#start-btn,
#submit-btn,
#next-btn,
#restart-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#next-btn:hover,
#restart-btn:hover {
    background-color: #218838;
}

#timer {
    position: absolute;
    top: 0;
    right: 0;
    background: #28a745;
    padding: 1rem 3rem;
    border-radius: 10px;
}
.question{
    display: flex;
    flex-direction: column;
}
.hide{
    display: none;
}